* {
  box-sizing: border-box;
}
:root {
  --color: blue;
  --color2: white;
  --padding: 50px;
  --margin: 40px;
}
body {
  background-color: var(--color);

  border-bottom: 2px solid var(--color2);
}

@media screen and (min-width: 600px) {
  body {
    background-color: gray;
  }
  .contain {
    padding: var(--margin);
  }
}
@media screen and (min-width: 900px) {
  body {
    background-color: orange;
  }
  .contain {
    margin: var(--margin);
  }
}
